[submodule "parkar-merchant"]
	path = parkar-merchant
	url = https://github.com/lancer2672/parkar-merchant.git
[submodule "parkar-app"]
	path = parkar-app
	url = https://github.com/ngxuantai/parkar-app.git
[submodule "parkar-merchant-app"]
	path = parkar-merchant-app
	url = https://github.com/ngxuantai/parkar-merchant-app.git
[submodule "parkar-server"]
	path = parkar-server
	url = https://github.com/lancer2672/Parka-Maintaince.git
