[submodule "parkar-merchant"]
	path = parkar-merchant
	url = https://github.com/lancer2672/parkar-merchant.git
[submodule "parkar-app"]
	path = parkar-app
	url = https://github.com/ngxuantai/parkar-app.git
